<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymaleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>EventosApp</title>
    <!--CSS Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="static/bootstrap-4.5.0-dist/style/styleCss.css">
    <style>
        form#formulario input {
        border: none;
        border-bottom: solid 1px;
        }

        #containerFormulario {
        box-shadow: 1px 1px 4px black;
        padding-bottom: 10px;
        }

        #botaoAdd {
        margin-left: 15px;
        }

        h3#botão {
        padding-bottom: 50px;
        margin-bottom: 100px;
        position: absolute;
        top: 0px;
        }

        table#tabela {
        padding-bottom: 50px;
        margin-top: 50px;
        margin-bottom: 100px;
        box-shadow: 1px 1px 4px black;
        }

        table#tabelaConvidados {
        box-shadow: 1px 1px 4px black;
        width: 50%;
        margin-right: 15px;
        margin-top: 100px;
        }

        h5#convidados {
        margin-top: 100px;
        margin-bottom: 100px;
        }

        li {
        margin-left: 1560px;
        }

        nav#menu {
        box-shadow: 1px 1px 4px black;
        }

        div#p p {

        }
    </style>
</head>
<body>
<header>
    <nav id="menu" class="navbar navbar-expand-lg navbar-dark menu" style="background-color: #642BA6">
        <a class="navbar-brand" href="#"><h1>Evento</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="/eventos" button type="button" class="btn btn-primary"><i><svg width="2em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    </svg></i>Lista de Eventos<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<center><h3><b>Detalhes do Evento</b></h3></center>
<table id="tabela" class="table"> <!--"evento" dentro das chaves é o nome q foi colocado na Request dele no "EventoController" no ModelAndView,  método "mv.addObject("evento", evento)", o "evento" em aspas no caso-->
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Local</th>
        <th scope="col">Data</th>
        <th scope="col">Horario</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="evento : ${evento}">
        <td><span th:text="${evento.nome}"></span></td>
        <td><span th:text="${evento.local}"></span></td>
         <td><span th:text="${evento.data}"></span></td>
         <td><span th:text="${evento.horario}"></span></td>
    </tr>
    </tbody>
</table>

<th:block th:include="mensagemValidacao"></th:block> <!-- essa linha irá incluir a mensagem tanto de erro qt de sucesso que estão la na classe "EventoController" e q são pegas pelo arquivo "mensagemValidacao" e então incluido aqui.-->

<div id="containerFormulario" class="container">
<form id="formulario" class="container formulario" method="post">
    <div class="row">
        <div class="form-group col-md-12">
    Nome: <input type="text" value="" class="form-control" name="nomeConvidado" placeholder="Nome Completo">
        </div>
        <div class="form-group col-md-12">
    RG: <input type="text" value="" class="form-control" name="rg" placeholder="AA-00.000.000">
        </div>
    <button id="botaoAdd" class="btn btn-primary" type="submit">Adicionar</button>
    </div>
</form>
</div>

<!--<center><h5 id="convidados">Lista de Convidados: </h5></center>-->
<center><table id="tabelaConvidados" class="table">
    <thead style="background-color: #EB5E55">
    <tr>
        <th scope="col">Nome do Convidado</th>
        <th scope="col">RG</th>
        <th scope="col">Deletar</th> <!-- coluna para o botão de delete -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="convidado : ${convidados}">
        <td><span th:text="${convidado.nomeConvidado}"></span></td>
        <td><span th:text="${convidado.rg}"></span></td>
        <td><a class="btn-small btn-primary" th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <!-- essa linha serve pra passar o funcionamento do "delete", ou seja o método de delete para a view, com ela recebendo o método através de um botão com um icone de lixo, th:href = esse codigo na parte 'EC#deletarConvidado' ta sendo passado o método "deletarConvidado" que se encontra na classe "EventoController", e a parte "convidado.rg" acredito q venha desta linha "Convidado convidado = cr.findByRg(rg)" e seja pegar a variavel convidado e o parametro do método "findByRg" q no caso é "rg", para o de deletar evento da lista de evento no "index.html" tbm segue a msm logica então acho q é isso, e assim utilizando ele aqui em um botão pra apagar eventos existentes, essa linha eu achei mt complexa.-->
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg></i></a></td>
    </tr>
    </tbody>
</table></center>


<!--JavaScript Bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>